<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>guid</key>
        <string>default</string>
        <key>color_name</key>
        <string>Default</string>
        <key>fill_color</key>
        <string>CCCCCC</string>
    </dict>
    <dict>
        <key>guid</key>
        <string>purple</string>
        <key>color_name</key>
        <string>Purple</string>
        <key>fill_color</key>
        <string>D01FD1</string>
    </dict>
    <dict>
        <key>guid</key>
        <string>red</string>
        <key>color_name</key>
        <string>Red</string>
        <key>fill_color</key>
        <string>EB344C</string>
    </dict>
    <dict>
        <key>guid</key>
        <string>dark_blue</string>
        <key>color_name</key>
        <string>Dark Blue</string>
        <key>fill_color</key>
        <string>615582</string>
    </dict>
    <dict>
        <key>guid</key>
        <string>light_purple</string>
        <key>color_name</key>
        <string>Light Purple</string>
        <key>fill_color</key>
        <string>CAAFD1</string>
    </dict>
    <dict>
        <key>guid</key>
        <string>light_blue</string>
        <key>color_name</key>
        <string>Light Blue</string>
        <key>fill_color</key>
        <string>C3E7FA</string>
    </dict>
</array>
</plist>
